.cabecalho{

    position: relative; 
    width: 100%;
    height: 87vh;
    
}

.gg-key {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 6px;
    height: 8px;
    border: 2px solid;
    border-radius: 100px;
    margin-left: -12px
}
.gg-key::after,
.gg-key::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: -12px
}
.gg-key::before {
    background: currentColor;
    width: 12px;
    height: 2px;
    top: 1px
}
.gg-key::after {
    width: 5px;
    height: 3px;
    top: 2px;
    border-left: 2px solid;
    border-right: 2px solid
}


.img_institucional{

    width: 100%;
    filter: brightness(0.5);
    height: 90vh;
    object-fit: cover;
}

.chamada_principal{

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-shadow:1px 5px 5px rgba(0,0,0,0.37);
    font-family: 'Black Ops One', cursive;
    color:white;
    font-size:1.6rem;
    padding:0.8rem;
    width:90%;
    text-align: left;
}

.chamada_principal h1{

    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 3.5em;
    
}

.chamada_principal h2{
    margin-bottom: 1.5em; 
    line-height: 40px;
    font-size: 1em;

}

.chamada_principal h3{

    margin-bottom: 1em;
    font-size: 1em;
    
}

.chamada_principal h4{
    font-size: 1em;
    line-height: 40px;
    
    
}


.titulo_sessao, .subtitulo_sessao{

    font-family: 'Roboto', sans-serif;

}

.titulo_sessao{

    font-size: 1.7rem;
    text-align: center;
    padding-top: 4rem;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:5rem;
    
}

.servicos{

    background-color:#b3cdff;
    padding-bottom:4rem;
    margin-top:1rem;
}

.subtitulo_sessao{

    font-size: 1.3rem;
    margin:4rem 0;
    text-align: center;
    padding:17px 0;
    background-color:#445593;
    border:none;
    width:100vw;
    color:white;
    font-weight:bold;

}

.container_servicos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 90vw;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f9f9f9;
    border: none;
    padding: 3rem 0;
    box-shadow: 5px 5px 15px -6px #000000;
}

.img_container{

    width: 85%;
    margin-bottom: 2rem;
    
}

.servicos_img{

    object-fit: cover;
    width: 100%;
    height: 30vh;
}

.texto_servicos_container{

    font-size: 1rem;
    font-family: 'Roboto', sans-serif; 
    width: 90%;
    text-align: left;
    color:#0c1c25;
    line-height:28px;
    margin-left:1.2em;
    
}

#preço{
    
    font-family: 'Roboto', sans-serif;
    width: 90%;
    color: #df0029;
    line-height: 31px;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid;
    font-weight: bold;
    margin:0 auto;
    
}

.orcamento{
    
    font-family: 'Roboto', sans-serif;
    display:block;
    width: 82%;
    border: none;
    background-color: #8896d9;
    padding: 15px;
    border-radius: 12px;
    color: #fffbf3;
    text-align:center;
    text-transform:uppercase;
    margin:0 auto;
    
}

.orcamento:hover{

    background-color: #5b80c1;
    transition: 500ms background-color;
}

#servicos_img_chaveiro{

    object-fit: cover;
    width: 100%;
    height: 100%;
}

#lista_master{

    margin-bottom: 0.7em;
    margin-right:1.5em;
}

#lista_sub{

    padding-bottom: 8px;
}

#lista_chaveiro{
    
    display:inline-block;
    margin-left:1.5em;
    
}

.depoimentos{

    position: relative;
}

.container{
  
  display:flex;
  overflow:auto;
  position:relative;
  scroll-snap-type:x mandatory;
  margin:4rem 0;
}

.item{
  min-width: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  

}

.item p{
    
    margin: 0.5rem 2rem;
    font-style: italic;
    font-size:1.1rem;
    
}
    
.fa, .fas{
    color:orange;
    
}

#container_controle_esquerda, #container_controle_direita{
    
    position:absolute;
    top:65%;
    padding:10px;
    background:#6d6f7f;
    
    
}

#container_controle_direita{
    
    left:0;
    
    
}

#container_controle_esquerda{
    
    right:0;
    cursor: pointer;
    
}

.contato{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

adress{
    margin-bottom:1rem;
    width:90vw;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}

iframe{
    
    width: 93vw;
    height: 30vh;
    margin-bottom: 1rem;
    
}

.item2{
    
  min-width: 100%;
  scroll-snap-align: start;
  position:relative;
  
    
}

.nossos_servicos{

    background-color: #445593;
    margin: 5rem 0;
    position: relative;
    padding-bottom: 3rem;
}

.nossos_servicos h1{

    color: white;
}

#container_controle_direita_2, #container_controle_esquerda_2{

    position:absolute;
    top:50%;
    padding:10px;
    background:#6d6f7f;



}

#container_controle_esquerda_2{

    right:0;

}

#container_controle_direita_2{

    left:0;

}

.nossos_servicos_img{

    object-fit: cover;
    width: 100%;
    
}




.legenda{

    font-family: 'Roboto', sans-serif;
    margin-top: 0.5rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom:1rem;
    color: black;
    background-color: white;
    padding: 1rem;
}



#whatsapp_logo{
    
    position:fixed;
    bottom:2%;
    left:2%;
    z-index:99;
    max-width: 18vw;
    max-height: 10vh;
    
}

.rodape{

background-color:#445593;
height:3rem;
margin-top:2rem;
display: flex;
justify-content: center;
align-items: center;

}

.insta_logo{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius:10px;
    width: 80%;
    margin:0 auto;
    background-color: white;
    box-shadow: 5px 5px 15px -6px #000000;
    


    
}

.insta_logo:hover{

    background-color: #9ca4b2;
    transition: 500ms background-color;

}

.insta_logo p{
    margin-left: 1rem;
    font-family: 'Roboto', sans-serif; 
    color: black;
}

.rodape small{

    color: white;
    font-family: 'Roboto', sans-serif;
    
}

    .legenda_desktop{
        
        display:none;
        
    }

@media only screen and (max-width:320px){
    
    
    .servicos_img{
        
        height:25vh;
        
    }
    
    
}




@media only screen and (min-width:600px){
 
    .img_institucional{
        
        height:100vh;
        background-image:url("../chaveiro_banner.PNG");
        
            
    }
    
    .chamada_principal{
        
        top:0;
        
    }
    
    .chamada_principal h1{
        
        margin-bottom:1.5em;
        
    }
    
        .cabecalho{
        
        height:95vh;
    
}
    
    .img_container{
        
        margin: 0 auto;
        width: 75%;
        height: 100%;
        
    }
    
    .servicos_img{
        
        width: 95%;
        margin-left: 0.8rem;
        height:57vh;
        
    }
    
    .container_servicos{
        
        display:flex;
        flex-direction:row;
        width:95vw;
        align-items: flex-start;
        
    }
    
    #servicos_img_chaveiro{
        
        width:95%;
        margin-left:0.8rem;
        
    }
    
    #whatsapp_logo{
    
    position:fixed;
    bottom:2%;
    left:2%;
    z-index:99;
    max-width: 8vw;
    max-height: 13vh;
    
}
    
    
    
    .nossos_servicos_img{
        
        height:100vh;
        
    }
    
}
    
   
                 
                 
                 
    
    
    
    
@media only screen and (min-width:767px){
 
    .img_institucional{
        
        height:70vh
            
    }
    
    .cabecalho{
        
        height:65vh;
    
}
    
    .container_servicos{
        
        display:flex;
        flex-direction:row;
        width:95vw;
        
    }
    
    .chamada_principal h1{
        
        margin-bottom:1.5em;
        
    }
    
    img_container{
        
        margin:0 auto;
        
    }
    
    .servicos_img{
        
        height:100%;
        width:75%;
        margin-left:3rem
        
    }
  }
    
    @media only screen and (min-width:768px) and (min-height:900px){
     
        .img_institucional{
            
            height:40vh;
            
        }
        
        .cabecalho{
            
            height:38vh;
        
    }
        
        .nossos_servicos_img {
         height: 40vh;
            
        }
}

 @media only screen and (min-width:820px) and (min-height:900px){
     
        .img_institucional{
            
            height:40vh;
            
        }
        
        .cabecalho{
            
            height:38vh;
        
    }
        
        .nossos_servicos_img {
         height: 40vh;
            
        }
}

@media only screen and (min-width:520px) and (max-height:720px){
 
    .servicos_img{
        
        height:47vh;
    }
    
    
}
    
    @media only screen and (min-width:720px) and (max-height:540px){
 
    .servicos_img{
        
        height:49vh;
        }
    
}
       
    
    @media only screen and (min-width:1024px){
        
        .cabecalho{
            
            height:72vh;
    
    }
        
        .img_institucional{
            
            height:75vh;
            
        }
        
        .chamada_principal h1{
            
            margin-bottom:3.5em;
            font-size:3rem;
            
        }
        
        .chamada_principal{
            
            font-size:1.8rem;
            
        }
        
        .container_servicos{
            
            width:80vw;
            
        }
        
        .servicos_img{
            
            width:85%;
            
        }
        .container{
            
            
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
        grid-gap:5rem 2.5rem;
        margin:0 2rem 2rem 2rem;
        overflow:inherit;
           
        }
        .item{
            
    min-width:0;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
            
        }
        
        .nossos_servicos_img{
            
            height:53vh;
            border: 2px solid white;       
            filter:grayscale();
            
        }
        
        .nossos_servicos_img:hover{
         
            border:2px solid #b3cdff;
            filter:none;
            transition: 1s filter;
            transform:  scale(1.05);
            transition: transform 500ms;
            
            
            
        }
        
        .legenda{
            
            display:none;
            
        }
        
        
#container_controle_direita, 
#container_controle_esquerda{
    
    display:none;
    
        }
        
 #container_controle_direita_2,
 #container_controle_esquerda_2{
     
     display:none;
     
        }
        
        .legenda_desktop{
         
    position: absolute;
    display: block;
    top: 2%;
    left: 1%;
    font-size: 1rem;
    background-color: white;
    padding: 0.7rem;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px black;
    box-shadow: 5px 5px 15px -6px #000000;
            
            
        }
        
        .rodape{

            height:6rem;
        }
}
        

            
            
        
        
        
        
        
    
        
        @media only screen and (min-width:1400px){
    
            .texto_servicos_container{
                
                margin-top:2rem;
                font-size:1.2rem;
                line-height:2rem;
            
    }
            
            #preço{
                
                margin-top:2rem;
                
            }
            
            .servicos_img_chaveiro{
                
                width: 88%;
                margin-left: 2.2rem;
                
            }
            
}
            
            
