.cabecalho{

    position: relative; 
    width: 100%;
    height: 87vh;
}

.gg-key {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 6px;
    height: 8px;
    border: 2px solid;
    border-radius: 100px;
    margin-left: -12px
}
.gg-key::after,
.gg-key::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: -12px
}
.gg-key::before {
    background: currentColor;
    width: 12px;
    height: 2px;
    top: 1px
}
.gg-key::after {
    width: 5px;
    height: 3px;
    top: 2px;
    border-left: 2px solid;
    border-right: 2px solid
}


.img_institucional{

    width: 100%;
    filter: brightness(0.5);
    height: 90vh;
    object-fit: cover;
}

.chamada_principal{

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow:1px 5px 5px rgba(0,0,0,0.37);
    font-family: 'Rubik', sans-serif;
    color:white;
    font-size:1.6rem;
    padding:0.8rem;
    width:80%;
    
}

.chamada_principal h1{

    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2.5em;
}

.chamada_principal h2{
    margin-bottom: 1em; 
}

.titulo_sessao, .subtitulo_sessao{

    font-family: 'Roboto', sans-serif;

}

.titulo_sessao{

    font-size: 1.6rem;
    text-align: center;
    padding-top: 4rem;
    font-weight:bold;
    text-transform:uppercase;
    
}

.servicos{

    background-color:#ffcb2c;
    padding-bottom:4rem;
}

.subtitulo_sessao{

    font-size: 1.3rem;
    margin:4rem 0;
    text-align: center;
    padding:17px 0;
    background-color:#e2852f;
    border:none;
    width:100vw;
    color:#49141e;
    font-weight:bold;

}

.container_servicos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 90vw;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f9f9f9;
    border: none;
    padding: 15px 0;
    box-shadow: 5px 5px 15px -6px #000000;
}

.img_container{

    width: 90%;
    margin-bottom: 2rem;
    margin-left:2.5em;
}

.servicos_img{

    object-fit: cover;
    margin-left: 0.5em;
    border-radius: 10px;
    width: 85%;
    height: 100%;
}

.texto_servicos_container{

    font-size: 1rem;
    font-family: 'Roboto', sans-serif; 
    width: 90%;
    text-align: left;
    color:#0c1c25;
    line-height:28px;
    margin-left:1.2em;
    
}

#servicos_img_chaveiro{

    object-fit: cover;
    border-radius: 10px;
    width: 85%;
    height: 100%;
}

#lista_master{

    margin-bottom: 0.7em;
    margin-right:1.5em;
}

#lista_sub{

    padding-bottom: 8px;
}

#lista_chaveiro{
    
    display:inline-block;
    margin-left:1.5em;
    
}

.container{
  
  display:flex;
  overflow:auto;
  scroll-snap-type:x mandatory;
}

.item{
  min-width:100%;
  scroll-snap-align:start;
  height:200px;
}
