.cabecalho{

    position: relative; 
    width: 100%;
    height: 87vh;
}

.img_institucional{

    width: 100%;
    filter: brightness(0.5);
    height: 90vh;
    object-fit: cover;
}

.chamada_principal{

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow:1px 5px 5px rgba(0,0,0,0.37);
    font-family: 'Rubik', sans-serif;
    color:white;
    font-size:1.6rem;
    padding:0.8rem;
    width:80%;
    
}

.chamada_principal h1{

    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2.5em;
}

.chamada_principal h2{
    margin-bottom: 1em; 
}

.titulo_sessao, .subtitulo_sessao{

    font-family: 'Roboto', sans-serif;

}

.titulo_sessao{

    font-size: 1.8rem;
    text-align: center;
    padding: 2rem;
    
}

.servicos{

    background-color:#ffcb2c;
}

.subtitulo_sessao{

    font-size: 1.3rem;
    margin:4rem 0;
    text-align: center;
    padding:17px 0;
    background-color:#e2852f;
    border:none;
    width:100vh;
    color:#49141e;
    font-weight:bold;

}

.container_servicos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_container{

    width: 90%;
    margin-bottom: 2rem;
    margin-left:2.5em;
}

.servicos_img{

    object-fit: cover;
    margin-left: 0.5em;
    border-radius: 10px;
    width: 85%;
    height: 100%;
}

.texto_servicos_container{

    font-size: 1rem;
    font-family: 'Roboto', sans-serif; 
    width: 90%;
    text-align: left;
    color:#0c1c25;
    line-height:28px;
    margin-left:1.2em;
    
}

#servicos_img_chaveiro{

    object-fit: cover;
    border-radius: 10px;
    width: 85%;
    height: 100%;
}

#lista_master{

    margin-bottom: 0.7em;
}

#lista_sub{

    padding-bottom: 8px;
}
